/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/



#slider .button {
    color: black;
    
}

.col-xl-5 .button {
	color: black; 
	
}

.footer-widgets-wrap button {
	color: black;
}

